/* Font families */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Mountains+of+Christmas:wght@400;700&display=swap');
/* "Mountains of Christmas" */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e1eaf7;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.logo a {
    font-family: "Mountains of Christmas", sans-serif;
    color: #e8e8e8;
    background-color: #111;
    border-radius: 11px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    font-size: .99em;
    color: #34495e;
    font-family: "Mountains of Christmas", sans-serif;
    font-weight: 700;
}

.header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 2px solid #232323;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    background-color: #000;
    background-image: url(../images/snowflake_gif.gif);
}

img {
    max-width: 100%;
    display: block;
}


main p {
    font-size: 2em;
    padding: 2%;
    border: #000 thin solid;
}

main p a {
    color: #f83f3f;
}

#hero {
    display: block;
}

#iPhone {
    border: thin #000 solid;
}



/*====== Media Cards =========*/
.gift {
    display: grid;
    grid-template-rows: max-content 250px 1fr;
    border: 2px solid #454545;
    border-radius: 15px;
}

.gift header {
    text-align: center;
}

.gift-content {
    text-align: center;
    margin-top: 65%;
    padding: 1%;
}

#gift-image {
    background-image: url(../images/christmas-gift.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px 15px 0 0;
}

#gift-image1 {
    background-image: url(../images/money-2082383_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

#gift-image2 {
    background-image: url(../images/iphone.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px 15px 0 0;
}

#gift-image3 {
    background-image: url(../images/video-game-console.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

#gift-image4 {
    background-image: url(../images/coal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.height {
    max-width: 750px;
    min-width: 310px;
}

#shop-img {
    margin-top: 0.9%;
    opacity: 0;
    transition: 0.6s
}



#card1 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card2 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card3 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card4 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card5 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card6 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card7 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card8 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
}

#card9 {
    display: block;
    margin-left: auto;
    margin-right: 40%;
    width: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*===== End of Media cards ======*/

/* Tablet Media Query */
@media (min-width: 769px) {

    .main-nav,
    .header {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header{
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }
    
    .main-nav a {
        padding: 8px 13px;
        background-color: #e54b43b9;
        border-radius: 15px;
        color: #fff;
        transition: 0.4s;
    }

    .main-nav a:hover {
        background-color: #f3716b;
    }

    .logo a {
        background-color: #000;
    }

    #shop-img {
        margin-top: 0.9%;
        opacity: 0;
        transition: 0.6s
    }

    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 39% 39%;
        grid-template-areas: 
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
        grid-gap: 2%;
    }

    #card1 {
        display: block;
        margin-top: 5%;
    }

    #card1:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card2 {
        display: block;
        margin-top: 5%;
    }

    #card2:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card3 {
        display: block;
        margin-top: 5%;
    }

    #card3:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card4 {
        display: block;
        margin-top: 5%;
    }

    #card4:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card5 {
        display: block;
        margin-top: 5%;
    }

    #card5:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card6 {
        display: block;
        margin-top: 5%;
    }

    #card6:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card7 {
        display: block;
        margin-top: 5%;
    }

    #card7:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card8 {
        display: block;
        margin-top: 5%;
    }

    #card8:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card9 {
        display: block;
        margin-top: 7%;
        margin-bottom: 40%;
    }

    #card9:hover {
        #shop-img {
            opacity: 1;
        }
    }

}

/* End of Tablet Query */



/*===== Desktop Media Query =====*/
@media (min-width: 1025px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .main-nav a {
        background-color: #e54b43ed;
        border-radius: 15px;
        color: #fff;
        transition: 0.4s;
    }

    .main-nav a:hover {
        background-color: #f46d66ed;
    }

    .logo a {
        background-color: #111;
    }

    #shop-img {
        margin-top: 0.9%;
        opacity: 0;
        transition: 0.6s
    }

    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 29% 29% 29%;
        grid-template-areas: 
            "card1 card2 card3"
            "card4 card5 card6"
            "card7 card8 card9";
        grid-gap: 2%;
    }

    #card1 {
        grid-area: card1;
        display: block;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #card1:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card2 {
        grid-area: card2;
        display: block;
        margin-top: 5%;
    }

    #card2:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card3 {
        grid-area: card3;
        display: block;
        margin-top: 5%;
    }

    #card3:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card4 {
        grid-area: card4;
        display: block;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #card4:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card5 {
        grid-area: card5;
        display: block;
        margin-top: 5%;
    }

    #card5:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card6 {
        grid-area: card6;
        display: block;
        margin-top: 5%;
    }

    #card6:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card7 {
        grid-area: card7;
        display: block;
        margin-top: 5%;
    }

    #card7:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card8 {
        grid-area: card8;
        display: block;
        margin-top: 5%;
    }

    #card8:hover {
        #shop-img {
            opacity: 1;
        }
    }

    #card9 {
        grid-area: card9;
        display: block;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #card9:hover {
        #shop-img {
            opacity: 1;
        }
    }


} /*===== End of Desktop Query =======*/


footer {
    margin-top: 5%;
    text-align: center;
    padding: 1%;
    background-color: #f6f3f3;
}